<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>switch user</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Enter new Username</h1>
    <form method="post" action="http://localhost:8080/app/change">
        <input type="text" placeholder="enter user name" name="username">
        <button>Enter</button>
    </form>
</body>
</html>