<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ceate a new post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Create a new account</h1>
    <form method="post" action="http://localhost:8080/app">
        user:<input type="text" name="username" placeholder="enter username"><br><br>
        Posts:<input type="text" name="posts"><br><br>
        followers:<input type="text" name="followers"><br><br>
        following:<input type="text" name="following"><br><br>
        about:<textarea name="about" ></textarea><br>
        <button>submit</button>
    </form>
</body>
</html>